<div class="content">
    <div class="login-box">
        <div class="login-box-left">
            <span class="title">Benvenuto</span>
            <p class="main-text" style="margin-top: 5%;">Questo é un nuovo social <br> scritto interamente in java e Angular <br> <br>
                vieni a provarlo
            </p>
        </div>
        <div class="login-box-right">
            <span class="title">Accedi</span>
            <p class="main-text" style="margin-top: 5%;">Effettua il login <br> per avere accesso al Social Network</p>

            <form method="post">
                <div class="textbox" style="width: 50%;">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="email@email">
                </div>
                <div class="textbox" style="width: 50%;">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <p class="password-dimenticata">Hai dimenticato la password? <span><a href="#">Clicca qui</a></span></p>
                <div class="submit" style="width: 50%; margin-top: 10%;">
                    <input type="submit" value="Accedi">
                </div>
            </form>
            <p class="registrati">Non hai un account? <span><a href="#">Registrati</a></span></p>
        </div>
    </div>
</div>
